.game {
    z-index: -1;

    font-weight: 400;
    font-style: normal;

    font-family: "Bruno Ace SC", sans-serif;

    &__score {
        display: flex;
        min-width: 80px;

        transform-origin: left center;
        transform: scale(1);

        color: black;

        transition-property: transform, color;
        transition-duration: 0.4s;

        &-wrap {
            display: flex;
            align-items: center;
            gap: 15px;

            position: absolute;
            top: 100px;
            left: 50%;
            transform: translateX(-50%);
            z-index: 2;

            font-size: 50px;

            transition-property: transform, color;
            transition-duration: 0.4s;

            &.active {
                .game__score {
                    transform: scale(2);
                    color: rgb(0, 255, 0);
                }
            }

            &.error {
                animation: errorAnimation 0.5s ease-in-out 0s 1 forwards;

                .game__score {
                    transform: scale(2);
                    animation: errorAnimation 0.5s ease-in-out 0s 1 forwards;
                }
            }

            @keyframes errorAnimation {
                0%,
                50%,
                100% {
                    color: rgb(255, 2, 2);
                }
                25%,
                75% {
                    color: black;
                }
            }
        }
    }

    &__guess {
        &-wrap {
            position: fixed;
            inset: 0;
            z-index: 5;
            background-color: rgba(0, 0, 0, 0.4);

            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;

            transition-property: opacity;
            transition-duration: 0.3s;

            &.hidden {
                opacity: 0;
                pointer-events: none;
            }
        }

        &-title {
            font-size: 30px;
            color: white;

            text-transform: uppercase;
        }

        &-colors {
            margin: 0;
            padding: 0;
            list-style-type: none;

            margin-top: 40px;

            display: flex;
            align-items: center;

            flex-wrap: wrap;

            margin-right: -40px;
            margin-bottom: -40px;

            width: calc((150px * 3) + 40px * 3);

            &.hover {
                .guess-color:not(.active) {
                    opacity: 0.3;
                }
            }
        }
    }

    .guess-color {
        width: 150px;

        display: flex;
        flex-direction: column;
        align-items: center;

        cursor: pointer;

        position: relative;

        padding-right: 40px;
        padding-bottom: 40px;

        transition-property: opacity;
        transition-duration: 0.3s;

        &::before {
            content: "";
            position: absolute;
            inset: 0;
            pointer-events: none;

            width: 100%;
            height: 100%;
        }

        &:nth-of-type(1) {
            .guess-color__color {
                background-color: #18f000;
            }
        }
        &:nth-of-type(2) {
            .guess-color__color {
                background-color: #ffc0cb;
            }
        }
        &:nth-of-type(3) {
            .guess-color__color {
                background-color: #007fff;
            }
        }

        &__color {
            width: 80px;
            height: 80px;

            border-radius: 50%;
        }

        &__text {
            color: white;
            font-size: 20px;
            margin-top: 10px;
        }
    }

    $sound-size: 40px;
    &__sound {
        width: $sound-size;
        height: $sound-size;
        position: fixed;
        z-index: 10;
        bottom: 50px;
        left: 50px;

        border-radius: 50%;
        overflow: hidden;

        display: flex;
        align-items: center;
        justify-content: center;

        opacity: 0.5;

        transition-property: opacity;
        transition-timing-function: ease-in-out;
        transition-duration: 0.3s;

        cursor: pointer;

        &.active {
            &::after {
                width: 0;
            }
        }

        &:hover {
            opacity: 1;
        }

        svg {
            width: calc($sound-size - 10px);
            height: calc($sound-size - 10px);
            padding: 5px;
        }

        &::before,
        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
        }

        &::before {
            width: calc($sound-size - 4px);
            height: calc($sound-size - 4px);
            border: 2px solid white;
            border-radius: 50%;
        }

        &::after {
            left: 0;

            width: 100%;
            height: 2px;

            background-color: white;
            transform: rotate(-45deg) translate(-5px, 14px);

            transform-origin: left center;

            transition-property: width, opacity;
            transition-timing-function: ease-in-out;
            transition-duration: 0.3s;
        }
    }
}
